.play-box {
    border: solid;
    border-width: 2px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    /* padding: 10%;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 50px; */
}

.title {
    color: white;
    background-color: steelblue;
    padding: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.playbox-body {
    padding: 5%;
    background-color: lightgray;
}

.perfect-fifth, .minor-second, .major-second {
    padding: 3%;
    border: solid white;
    border-width: 2px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 20px;
    font-size: 5px;
    background-color: lightslategray;
}

/* /* .far is the classname for the play button */
.far {
    font-size: 15px;
} 